// container & wrapper
@use "variables" as *;
@use "mixins" as *;

main {
  min-width: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  min-width: 1440px;
  padding-top: 64px;

  > div {
    min-width: 0;
  }
}

.base-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @include adaptiveFull('padding-left', 40, 16, 16);
  @include adaptiveFull('padding-right', 40, 16, 16);
}
