h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}


button,
input,
textarea {
  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

input:not([type=checkbox]):not([type=radio]):not([type=number]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button:not(:disabled) {
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

a,
a:active,
a:focus {
  outline: none;
}

a,
button {
  &:focus-visible {
    outline: none;
  }
}